.env
flask-app-user_accessKeys.csv
msgcreator.pem

# SSL 憑證（包含敏感信息）
certbot/
README.md
__pycache__/app.cpython-313.pyc
教學文件/DEPLOY_UPDATE.md
教學文件/DOCKER_DEPLOY.md
教學文件/DOCKER_MONITORING.md
教學文件/Nginx 設定教學.md
